<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" thread-count="5" >

  <listeners>
		<listener class-name="utilities.ExtentReportManager"/>
	</listeners>
	
   <test thread-count="5" name="chrometest">
   	<parameter name="os" value="Windows" />
  	<parameter name="browser"  value="chrome"/>  
    <classes>
    	
 		<class name="testCases.TC_001_TravelInsurencePageTest"/>
    
        <class name = "testCases.TC_001_CarInsurencePageTest" />
        
         <class name = "testCases.TC_003_HealthInsurencePageTest" />
    </classes>
  </test> 
  
  
  
</suite> 
